.no-margin { margin: 0 !important; }
.no-margin-top { margin-top: 0 !important; }
.no-margin-bottom { margin-bottom: 0 !important; }
.no-margin-left { margin-left: 0 !important; }
.no-margin-right { margin-right: 0 !important; }

.margin-top-xxs { margin-top: 5px !important; }
.margin-bottom-xxs { margin-bottom: 5px !important; }
.margin-left-xxs { margin-left: 5px !important; }
.margin-right-xxs { margin-right: 5px !important; }

.margin-top-xs { margin-top: 10px !important; }
.margin-bottom-xs { margin-bottom: 10px !important; }
.margin-left-xs { margin-left: 10px !important; }
.margin-right-xs { margin-right: 10px !important; }

.margin-top-sm { margin-top: 20px !important; }
.margin-bottom-sm { margin-bottom: 20px !important; }
.margin-left-sm { margin-left: 20px !important; }
.margin-right-sm { margin-right: 20px !important; }

.margin-top-md { margin-top: 40px !important; }
.margin-bottom-md { margin-bottom: 40px !important; }
.margin-left-md { margin-left: 40px !important; }
.margin-right-md { margin-right: 40px !important; }

.margin-top-lg { margin-top: 60px !important; }
.margin-bottom-lg { margin-bottom: 60px !important; }
.margin-left-lg { margin-left: 60px !important; }
.margin-right-lg { margin-right: 60px !important; }

.no-padding { padding: 0 !important; }
.no-padding-top { padding-top: 0 !important; }
.no-padding-bottom { padding-bottom: 0 !important; }
.no-padding-left { padding-left: 0 !important; }
.no-padding-right { padding-right: 0 !important; }

.padding-top-xxs { padding-top: 5px !important; }
.padding-bottom-xxs { padding-bottom: 5px !important; }
.padding-left-xxs { padding-left: 5px !important; }
.padding-right-xxs { padding-right: 5px !important; }

.padding-top-xs { padding-top: 10px !important; }
.padding-bottom-xs { padding-bottom: 10px !important; }
.padding-left-xs { padding-left: 10px !important; }
.padding-right-xs { padding-right: 10px !important; }

.padding-top-sm { padding-top: 20px !important; }
.padding-bottom-sm { padding-bottom: 20px !important; }
.padding-left-sm { padding-left: 20px !important; }
.padding-right-sm { padding-right: 20px !important; }

.padding-top-md { padding-top: 40px !important; }
.padding-bottom-md { padding-bottom: 40px !important; }
.padding-left-md { padding-left: 40px !important; }
.padding-right-md { padding-right: 40px !important; }

.padding-top-lg { padding-top: 60px !important; }
.padding-bottom-lg { padding-bottom: 60px !important; }
.padding-left-lg { padding-left: 60px !important; }
.padding-right-lg { padding-right: 60px !important; }


.no-padding-bottom-mobile {
	@media #{$mq-portrait-mobile} {
		padding-bottom: 0 !important;
	}
}
.no-padding-left-mobile {
	@media #{$mq-portrait-mobile} {
		padding-left: 0 !important;
	}
}
.no-padding-right-mobile {
	@media #{$mq-portrait-mobile} {
		padding-right: 0 !important;
	}
}
.no-padding-top-mobile {
	@media #{$mq-portrait-mobile} {
		padding-top: 0 !important;
	}
}

.no-margin-bottom-mobile {
	@media #{$mq-portrait-mobile} {
		margin-bottom: 0 !important;
	}
}
.no-margin-left-mobile {
	@media #{$mq-portrait-mobile} {
		margin-left: 0 !important;
	}
}
.no-margin-right-mobile {
	@media #{$mq-portrait-mobile} {
		margin-right: 0 !important;
	}
}
.no-margin-top-mobile {
	@media #{$mq-portrait-mobile} {
		margin-top: 0 !important;
	}
}